/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: dimgray;
}
.textArea {
    -fx-background-color: white;
    -fx-border-color: white; 
}

.buttonStyleOne {
    -fx-background-color: dimgray;
    -fx-border-color: dimgray;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.buttonStyleTwo {
    -fx-background-color: slategray;
    -fx-border-color: slategray;
    -fx-background-insets: 0 0 0 0, 0, 1, 2; 
}



